html {
   font:24px;
 background-image: url(background.jpeg);
    background-size: cover;
    background-repeat:no-repeat;
}
/* update backgroun image */
body{
    background-color:;
   font-family:'Open Sans Condensed', sans-serif;
   font-size:24px;
   line-height:1.5;
   padding:2px 2px 2px 2px;  
   color:white;
}
h1{
   margin:0 auto;
    font-weight:300;
    font:300;
    text-align: center;  
    color:white;
}

{
    font-family:'Open Sans Condensed', sans-serif;
    line-height:2em;
    padding:1em 1em;
}    
   figcaption{
       font font-family: fantasy;    
}

ul{
    margin:0;
    padding:0;
    list-style-type:none;
        
}

li{
    display: inline;
    margin:20px;
    color:white;
}

    p{ 
        color:white;
        padding: 1em 1em;
        
    }
/* add more images and a videos*/
